html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

canvas {
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
}

header {
	text-align:left;
	text-decoration:underline;
	font-weight: bold;
}

article {
	text-align:left;
	margin-bottom: 20px;
	font-size:80%;
}

table {
	font-family:"Times New Roman", Times, serif;
	color:rgba(255,255,255,0.75);
}

form {
	text-align:left;
	position: relative;
	bottom: 0;
}

input {
	font-family:"Times New Roman", Times, serif;
	color:rgba(255,255,255,0.75);
	background: rgba(0,0,0,0.5);
	border:1px solid grey;
}

#menu {
	overflow:hidden;
	left:0px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	position:absolute;
	z-index:1;
	font-family:"Times New Roman", Times, serif;
	color:rgba(255,255,255,0.75);
	
	width: calc(50% - 503px);
	min-width: 300px;
	height: calc(100% - 10px);
	background: rgba(0,0,0,0.5);
	border-style:groove;
	border-left-style:none;
	border-width:5px;
	border-color:rgb(255,255,255);
	text-align:center;
}

.numberInput {
	width: 40;
}

.title {
	margin-top: 20px;
	text-align:center;
	font-size:170%;
}

.lil_title {
	text-align:center;
	font-size:100%;
	font-style:italic;
}

.initiallyHidden { display: none; }

.levelButton {}

.dropDown {
	overflow-y:scroll;
	position:reletive;
	z-index:1;
	width: 70%;al
	min-width: 200px;
	margin-left: auto ;
	margin-right: auto ;
	
	background: rgba(0,0,0,0.25);
	height: 60%;
	border-style:groove;
	border-top-style:none;
	border-width:5px;
	border-color:rgba(255,255,255,0.25);
}

.button {
	/* appearance */
	background: rgba(0,0,0,0.2);
	color:rgb(255,255,255);
	border: solid 1px #333;
	
	width: 80%;
	min-width: 200px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
}
.button:hover {
	text-decoration: none;
	background: rgba(50,50,50,0.6);
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
-webkit-border-radius: 2em;
-moz-border-radius: 2em;
border-radius: 2em;
}

