* {
	box-sizing: border-box;
}

.object {
	display: block;

	position: absolute;
	width: 0px;
	height: 0px;

	backface-visibility: visible;

	background-color: black;
	visibility: hidden;
	transform-origin: center;
	transform-style: preserve-3d;
	transform-box: content-box;
}

.plane {
	display: block;
	box-sizing: border-box;

	top: 0px;
	right: 0px;

	position: absolute;
	backface-visibility: hidden;

	background-color: black;
	visibility: visible;
	transform-origin: center;
	transform-style: preserve-3d;
	transform-box: content-box;

	width: 100px;
	height: 100px;

	border: solid 1px black;
}

.plane.showbackface {
	backface-visibility: visible;
}
